.DS_Store
a2v_validation/a2v_easy_validation
a2v_validation/converted_files
a2v_validation/screen recordings
a2v_validation/.Rhistory
a2v_validation/Labeling Effort Tracking Spreadsheet - assignments.csv